
$Source: 'Source Sans Pro', sans-serif;
$bungee: 'Bungee', sans-serif;
$white: #FFF;
$navback: #4056A1;
$red: #ED3D33;
$orange: #D89939;
$bodyColour: #545149;
$bodyBG: #f4f1ec;
$buttonColor: #4152A1;
$hoverColor: #CA9825;