/* header {
  height:           400px;
  width:            100%;
  margin-top: 120px;
  align-items:      center;
  background-color: slateblue;
  position:         relative;
  display:          flex;
  flex-direction:   column;
  justify-content:  center;
    
  /* align-items:baseline; */
    
    background-image: url("https://pbs.twimg.com/media/E3X47tdXIAA5Sfc?format=jpg&name=4096x4096");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */;
    
/* } */ */

header {
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: slateblue;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 4em;
  margin-left: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  /* align-content: center; */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
 header .avatar {
  top: 10%;
  margin-top: 8em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 5em;
}
header .avatar img {
  margin-top: -6em;
  margin-left: -3em;
}
header h2 {
  margin-left: 1em;
  margin-top: -1em;
  color: #fff;
} 
