nav {
  background-color: #4056a1;
  color: #fff;
  height: 8rem;
  width: 100%;
  font-size: 5rem;
  /*1rem = 16px*/
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  z-index: 10;
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
nav span {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  justify-self: flex-start;
  float: left;
  clear: right;
  font-family: "Bungee", sans-serif;
  line-height: 1em;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
}
nav a {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  font-size: 0.5em;
  float: right;
  margin-right: -3em;
}
nav .fas {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  color: #ed3d33;
  font-size: 0.5em;
  margin-top: 2em;
}
nav .fas:before {
  position: absolute;
  left: 89%;
  margin-top: -0.6em;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
  animation-name: arrow;
}
@-webkit-keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}
  
  
  /* nav {
  height:           120px;
  background-color: #4056A1;
  color:            #fff;
  padding:          1.5em;
  display:          flex;
  justify-content:  space-between;
  position: relative; 
  top: 0; 
  width:            100%;
  position: fixed; 
  z-index: 99;
  
} */

/* .title {
  font-family:      'Bungee';
  font-size:        20px;
}

nav div i {
  color:          white;
  text-align:     center;
  font-size:      24px;
 
  }

nav div {
  display:          flex;
  flex-direction:   column;
} */