nav {
  height:           120px;
  background-color: #4056A1;
  color:            #ffffff;
  padding:          1.5em;
  display:          flex;
  justify-content:  space-between;
  position: relative; 
  top: 0; 
  width:            100%;
  position: fixed; 
  z-index: 99;
  
}

.title {
  font-family:      'Bungee';
  font-size:        20px;
}

nav div i {
  color:          white;
  text-align:     center;
  font-size:      24px;
 
  }

nav div {
  display:          flex;
  flex-direction:   column;
}